// Font
$mainFont: 'ProximaNovaBold';
// Size
$mainFontSize: 18px;
$mainFontWeight: 400;
$mainLineHeight: 1.4;

$lgDesktopWidth: 990px;
$desktopWidth: 1280px;
$smDesktopWidth: 1024px;
$tableWidth: 768px;
$smTableWidth: 640px;
$phoneWidth: 480px;
$smPhoneWidth: 320px;

// Main color
$bg-color: #ffffff;
$default-color: #545454;
$blue-color: #2f80ed;
$light-blue-color: #f9fcff;
$yellow-color: #ffc700;
$grey-color: #dddddd;
$border-color: #eaf2fd;
$border-shadow: #b0c5de;
//header
$header-bg-color: #f9fcff;
$header-color: #e0e0e0;
//list
$list-color: #b5b5b5;
//form
$error-color: #eb5757;
